{% extends 'base.html'  %}
{% block content %}
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                <tbody>
                    {% for list in todolist_list %}
                        <tr>
                            <td>{{ list.name }}</td>
                            <td>{{ list.items.all|length }}</td>
                        </tr>
                    {% endfor  %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock  %}
</html>
